
RewriteEngine on
RewriteCond %{HTTP_HOST} !^www.thinkphp.com$ [NC]
RewriteRule ^(.*)$ http://www.thinkphp.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php/$1 [QSA,PT,L]

#RewriteRule ^(.*)$ http://www.thinkphp.com/public/$1 [L,R=301]